// COLORS
:root {
  --color-black: #100d0d;
  --real-black: #000000;
  --color-silver: #b2b2b2;
  --color-boulder: #777777;
  --color-orange: #f9af31;
  --color-peach: #ffe4b7;
  --color-white: #fff;
  --color-off-yellow: #fef7ea;
  --color-gallery: #eaeaea;
  --color-alto: #d8d8d8;
  --color-red: #cf1515;
  --color-green: #269c47;
  --color-serenade: #fff8eb;
  --color-linear: linear-gradient(278.62deg, #fce4bb 1.35%, #fef7ea 113.81%);

  // https://chir.ag/projects/name-that-color/#EAEAEA з відтінками проблеми тому використовую цей сайт

   --border-r: 5px;
  --border-r-10: 10px;
  --border-r-15: 15px;
  --border-r-20: 20px;
  --border-r-big: 0px 0px 20px 20px;

  // FONTS 

  --body: 16px;
  --small-body: 14px;
  --h1: 42px;
  --h2: 32px;
  --h3: 18px;
  --l-h1: 1.2;
  --l-h2: 1.2;
  --l-h3: 1.3;
  --l-body: 1.5;
  


}